<div class="file-browser">
	<file-browser path="dirPath" entries="dir" current-file-path="filePath" on-open="openFile" on-create="createFile"></file-browser>
</div>

<div class="file-history">
	<div file-history file-path="filePath"></div>
</div>

<div ng-if="branch!='master'" class="row">
	<div class="small-12 columns text-center">
		<h1>READ ONLY PREVIEW</h1>
	</div>
</div>

<div class="row">
	<div id="content" class="small-12 columns">
		<content-editor ng-if="document" document="document" on-change="editedFile" file-loader="fileLoader" figure-uploader="figureUploader"></content-editor>
		<text-editor ng-if="!document && documentString != null" value="documentString" on-change="editedFile"></text-editor>
		<div ng-if="!document && documentString == null">
			<h4>Please load a file from the browser on the left.</h4>
		</div>
	</div>
</div>
