<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Isaac Content Editor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/codemirror/codemirror.css" />
    <link rel="stylesheet" href="css/codemirror/theme/solarized.css" />
    <link rel="stylesheet" href="css/codemirror/theme/eclipse.css" />
    <link rel="stylesheet" href="css/app.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <script src="js/lib/require.js" data-main="js/config.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#!/home"><i class="general foundicon-edit"></i> Isaac Content Editor</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
    
      <section class="top-bar-section" ng-cloak>

        <ul class="right" ng-show="user">
        
          <li class="name"><h1><a class="git-repo-name" href="#"></a></h1></li>
          <li><a href="javascript:void(0)" class="save button success radius" ng-show="editorScope && editorScope.fileIsEdited" ng-click="editorScope.saveFile()">Save</a></li>
              
<!--      <li class="has-dropdown">
            <a href="javascript:void(0)">Branch: <span class="current-branch">master</span></a>
            <ul id="branch-list" class="dropdown">
            </ul>
          </li>-->
          <li><a class="logout-button button radius" href="#!/logout">Logout</a></li>
        </ul>

        <ul class="right" ng-show="(!user && !loggingIn)">
          <li><a class="login-button success button radius" href="#!/login">Login with GitHub</a></li>
        </ul>
    
        <ul class="left" ng-if="editorScope && editorScope.file">
          <li class="name"><h1><a class="git-file-name" href="javascript:void(0)" ng-click="editorScope.showFileInfo()">{{editorScope.file.name}}</a></h1></li>
        </ul>
      </section>
    </nav>

    <div ng-view></div>

    <modal ctrl="modal"></modal>

    <div ng-if="editorScope.file" class="report-content-issue">
      <a target="_blank" ng-href="{{editorScope.reportIssueUrl}}">Report Content Issue</a><br/><br/>
    </div>    

    <div scooter-version></div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51129534-2', 'editor.isaacphysics.org', { 'cookieDomain': 'none' });

    </script>

  </body>
</html>
