
@import "settings";
@import "../normalize";
@import "../foundation";

@import "../foundicons/general_foundicons/general_foundicons";


#content-panel {
	margin-top: 10px;
}

#file-browser {

	a.git-type-file:before {
	    content: "\f009";
	    font-family: "GeneralFoundicons";
	    margin-right: 10px;
	    color: #788;
	}
	
	a.git-type-dir:before {
	    content: "\f02a";
	    font-family: "GeneralFoundicons";
	    margin-right: 10px;
	    color: #788;
	}

}

.CodeMirror {
	height: 100%;
	border: 1px solid grey;
}

#json-editor-holder {
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.require-login, .require-logout {
	display: none;
}

.top-bar ul.right {
	margin-right: 10px;
}

#compile-console {
	overflow: auto;
}

.highlight {
	background-color: #ffe;
	transition: all 0.1s;
	z-index: 50;
}

.highlight.above-split {
	-webkit-transform: translateY(-10px);
	-webkit-transform-origin: 0%  100%;
}


.highlight.below-split {
	-webkit-transform: translateY(10px);
	-webkit-transform-origin: 100%  0%;
}

.block {
	border-top: 1px dashed #bbb;
}

.block h1 {
	color: #ccc;
}

$transformDelay: 0.2s;

.op-insert {
	background-color: transparent;
	z-index: 100;
	position: absolute;
	color: #000;
	opacity: 0.2;
	transition: all $transformDelay;
	width: 100%;
}

.op-insert i {
	cursor: pointer;
}

.op-insert.below {
	bottom:-10px;
}

.op-insert.above {
	top: -7px;
}
 
.ops-wrapper {
	position:relative;
}

.ops-wrapper.list .block, .ops-wrapper.literal .content-literal{
	padding-top: 10px;
	padding-bottom: 10px;
}

.op-insert.highlight {
	background: radial-gradient(farthest-side, #bfc, transparent);
	color: #3a3;
	opacity: 1;
	transition: all $transformDelay;
}

.op-delete {
	cursor: pointer;
	z-index: 100;
	position: absolute;
	color: #000;
	opacity: 0.2;
	transition: all $transformDelay;
	right: 10px;
	top: 10px;
	height: 20px;
	width: 20px;
}

.highlight-delete {
	background-color: #f87;
	opacity: 0.3;
	transition: all $transformDelay;
}

.content-list-enter {
  max-height: 0px;
  opacity: 0;
  overflow:hidden;
  transition: all 0.4s ease-in;
}

.content-list-enter.content-list-enter-active {
  max-height: 100px;
  opacity: 1;
}

.content-list-leave {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.content-list-leave.content-list-leave-active {
  opacity: 0;
}



