
@import "settings";
@import "../normalize";
@import "../foundation";

@import "../foundicons/general_foundicons/general_foundicons";


#content-panel {
	margin-top: 10px;
}

#file-browser {

	a.git-type-file:before {
	    content: "\f009";
	    font-family: "GeneralFoundicons";
	    margin-right: 10px;
	    color: #788;
	}
	
	a.git-type-dir:before {
	    content: "\f02a";
	    font-family: "GeneralFoundicons";
	    margin-right: 10px;
	    color: #788;
	}

}

.CodeMirror {
	height: 100%;
	border: 1px solid grey;
}

#json-editor-holder {
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.require-login, .require-logout {
	display: none;
}

.top-bar ul.right {
	margin-right: 10px;
}

#compile-console {
	overflow: auto;
}






.content-list {
	background-color: #eee;
	padding-left: 20px;
}

.content-literal {
	background-color: #ddd;
}

.content-literal-or-list {
	background-color: #fef;
}

.block-type-unknown {
	background-color: #fdd;
}

.block-type-figure {
	background-color: #ddf;
}


.block-type-figure .content-list {
	background-color: #bdb;
}

.block-type-figure .content-literal {
	background-color: #dfd;
}

#react-container div {
	border: 1px solid #aaa;
	margin: 3px;
	padding: 3px;
}
